
<!-- ko with: home -->
<h2 class="sub-header">Книги</h2>
<button class="btn btn-primary" data-bind='click: addBook'>Добавить книгу</button>
<table class="table table-striped" data-bind="visible: books().length > 0">
	<thead>
		<tr>
			<th data-bind="click: sortBooks.bind($data, 'title')" style="cursor:pointer">
				Заголовок
				<span data-bind="visible:  byNameSorted,
				  css:  { 'glyphicon-sort-by-alphabet':  acsendingSorOrder(),
							'glyphicon-sort-by-alphabet-alt': !acsendingSorOrder()} "
					  class="glyphicon" aria-hidden="true"
					  style="float: right;"></span>
			</th>
			<th>Авторы</th>
			<th>Количество страниц</th>
			<th>Название издательства</th>
			<th data-bind="click: sortBooks.bind($data, 'publishYear')" style="cursor:pointer">
				Год публикации
				<span data-bind="visible:  byPublishYearSorted,
				  css:  { 'glyphicon-sort-by-order':  acsendingSorOrder(),
							'glyphicon-sort-by-order-alt': !acsendingSorOrder()} "
					  class="glyphicon" aria-hidden="true"
					  style="float: right;"></span>
			</th>
			<th>ISBN</th>
			<th>Изображение</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody data-bind="foreach: books">
		<tr>
			<td data-bind="text: title"></td>
			<td data-bind="text: authorsNames"></td>
			<td data-bind="text: numPages"></td>
			<td data-bind="text: pubHouseName"></td>
			<td data-bind="text: publishYear"></td>
			<td data-bind="text: isbn"></td>
			<td><img data-bind="visible: (illustrationUrl() != ''), 
					 attr: {src: illustrationUrl()}" alt="Иллюстрация"/></td>
			<td>
				<span class="glyphicon glyphicon-camera"
					  aria-hidden="true" title="Загрузить изображение"
					  data-bind="click: $parent.uploadImg"></span>
			</td>
			<td>
				
				<span class="glyphicon   glyphicon glyphicon-pencil" aria-hidden="true"
					  data-bind="click: $parent.selectBook"
					  title="Редактировать"></span>
			</td>
			<td>
				<span class="glyphicon glyphicon-remove"
					  aria-hidden="true" title="Удалить"
					  data-bind="click: $parent.removeBook"></span>
			</td>

			
		</tr>
	</tbody>
</table>

@*Att visibility of view ,  to template*@
<form class="form-horizontal" data-bind="with: selectedBook">
	<div class="form-group">
		<label for="inputTitle" class="control-label col-xs-2">Заголовок</label>
		<div class="col-xs-10">
			<input type="text" class="form-control" id="inputTitle" data-bind="value: title">
		</div>
	</div>
	<div class="form-group">
		<label for="seelctAuthors" class="control-label col-xs-2">Авторы</label>
		<div class="col-xs-10">
			<select class="selectpicker" multiple id="seelctAuthors"
			        data-live-search="true" data-container="body"
			        data-bind="selectPicker:true,
					options: $parent.authors,
					optionsText: function(item) {
						return item.lastName() + ' '+ item.firstName();},
					optionsValue: 'authorId',
					selectedOptions: authors">
			</select>
		</div>
	</div>

	<div class="form-group">
		<label for="inputNumPages" class="control-label col-xs-2">Количество страниц</label>
		<div class="col-xs-10">
			<input type="text" class="form-control" id="inputNumPages" data-bind="value: numPages">
		</div>
	</div>
	<div class="form-group">
		<label for="selectPubHouse" class="control-label col-xs-2">Издательство</label>
		<div class="col-xs-10">
			<select id="selectPubHouse"
			        data-bind="selectPicker:true, options: $parent.pubHouses ,
					optionsText: 'name',  optionsValue: 'pubHouseId',
					value: pubHouseId"></select>
		</div>
	</div>

	<div class="form-group">
		<label for="inputPublishYear" class="control-label col-xs-2">Год публикации</label>
		<div class="col-xs-10">
			<input type="text" class="form-control" id="inputPublishYear" data-bind="value: publishYear">
		</div>
	</div>



	<div class="form-group">
		<label for="inputISBN" class="control-label col-xs-2">ISBN</label>
		<div class="col-xs-10">
			<input type="text" class="form-control" id="inputISBN" data-bind="value: isbn">
		</div>
	</div>

	<div class="form-group">
		<div class="col-xs-offset-2 col-xs-10">
			<button type="button" class="btn btn-primary" data-bind="click: $parent.saveBook">Сохранить</button>
			<button type="button" class="btn btn-basic" data-bind="click: $parent.cancelEdit">Отменить</button>

		</div>
	</div>
</form>



<div class="form-group">
	<label for="inputFile" class="control-label col-xs-2">Изображение</label>
	<div class="col-xs-10">
		<input type="file" class="form-control" id="inputFile">
	</div>
	@*data-bind="visible: illustrationUrl()!==''"*@ 
	<p 
	   class="help-block">Изображение уже загружено. Если хотите обновить его, выберите файл</p>

</div>
<!-- /ko -->
