<!-- ko with: home -->
<span data-bind="text:  books().length, visible: books().length > 0"></span>
<table data-bind="visible: books().length > 0">
	<thead>
	<tr><th>Название</th><th>ISBN</th></tr>
	</thead>
	<tbody data-bind="foreach: books">
		<tr>
			<td data-bind="text: title"></td>
			<td data-bind="text: isbn"></td>
		</tr>
	</tbody>
</table>


<!-- /ko -->
